.chatContainer {
  display: flex;
  height: 100%;
}

.groupNav {
  color: white;
  background-color: #202225;
  position: relative;
  min-width: 72px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
}

.channelsNav {
  background-color: #2f3136;
  min-width: 240px;
  color: #8e9297;
  overflow: auto;
}

.chattingTopNav {
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: white;
  min-height: 48px;
  font-weight: 500;
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  font-size: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.chattingTopNavRight {
  justify-content: flex-end;
  display: flex;
  height: 32px;
  align-items: center;
}

.chattingTopNavRightSearch {
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.searchInputContainer {
  padding-right: 5px;
  height: 32px;
}

.searchInputContainer input {
  padding: 5px;
  border-radius: 5px;
  background-color: #1c1b1b75;
  border: 1px solid #888787;
  color: white;
}

.chattingSection {
  background-color: #36393f;
  color: #dcddde;
  display: flex;
  flex: 1 1 auto;
  width: 40%;
  flex-direction: column;
}

.infoSectionDiv {
  max-width: 240px;
  background-color: #202225;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.showAbsoluteSideBar {
  position: absolute;
  z-index: 3;
  height: 100%;
}

.leftSidebar {
  left: 0;
}

.rightSidebar {
  right: 0;
}

.hideTopNavDiv {
  display: flex;
  padding: 14px 5px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
}

.hideTopNavDiv:hover {
  color: white;
}

.hideTopNavDivLeft {
  justify-content: flex-end;
}

.hideTopNavDivRight {
  justify-content: flex-start;
}


/* Chatting */
.chattingContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  overflow: auto;
}

.loadOlderDiv,
.chattingMessageInput,
.chattingMessagesDivScroll {
  width: 100%;
}

.chattingMessagesDivScroll {
  overflow: auto;
  height: 100%;
}

.loadOlderDiv {
  cursor: pointer;
}

.chattingUl {
  padding: 5px 12px 5px 5px;
}


/* Groups */
.groupsNavContainer {
  height: 100%;
}
.listGroupsSection {
  display: flex;
  justify-content: center;
}
.groupWrapper {
  font-weight: 500;
  line-height: 1.2em;
  white-space: nowrap;
  vertical-align: middle;
  padding-top: 15px;
}
.groupLi {
  background-color: #36393f;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.unReadGroupLi {
  color: red;
}


/* Channels */
.normalChannel {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.activeChannel {
  color: white;
}
.channelHash {
  font-size: 22px;
  color: #8e9297;
  padding-right: 5px;
  font-style: italic;
}
.addChannelLi {
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 10px;
}
.addChannelLi:hover {
  color: white;
}
.notReadChannel {
  color: red;
}
.addEmojiDiv {
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 10px;
}
.chosenGroupNameDiv {
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: white;
  height: 48px;
  font-weight: 500;
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  font-size: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.chosenGroupName {
  height: 24px;
  display: flex;
  justify-content: center;
}


/* Info */
.infoContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.infoCollapsesContainer,
.infoOneCollapseGrow {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.infoCollapsesContainer,
.infoOneCollapseGrow {
  overflow: auto;
}
.normalActive {
  padding: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.activeDot {
  font-size: 25px;
  color: #09ff00;
  padding-right: 10px;
}

.collapseNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  min-height: 32px;
  font-weight: 500;
  box-shadow: 0 1px 0 rgba(135, 135, 145, 0.14), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(89, 89, 97, 0.05);
  cursor: pointer;
}
.infoContainer div:not(:first-child) .collapseNavigation {
  border-top: 1px solid #ffffff17;
}

.collapseContent,
.collapseContent > div,
.collapseContent > div > div{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
}
.collapseContentUl {
  margin-left: 40px;
  background-color: rgba(100, 100, 100, 0.04);
}

.infoNameSpan {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.infoButtonContainer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoButton {
  background-color: inherit;
  border: none;
  color: white;
  padding: 8px 80px;
  font-size: 16px;
  border: 1px solid #4f4e517d;
  border-radius: 5px;
}
.infoButton:hover {
  background-color: rgba(59, 59, 60, 0.24);
}


/* EmojiPicker */
.emojiPickerContainer {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  max-height: 100%;
  max-width: 100%;
}
.oneEmojiContainer {
  padding: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneEmojiContainer:hover {
  background-color: #414449;
}
