.emojiPickerContainer {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  max-height: 100%;
  max-width: 100%;
}
.oneEmojiContainer {
  padding: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneEmojiContainer:hover {
  background-color: #414449;
}
