.dialogPopupContainer {
  position: absolute;
  z-index: 5;
  width: 150px;
  height: 150px;
  background-color: rgba(27, 27, 27, 0.897);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: all;
}

.dialogContent {
  cursor: pointer;
  padding: 15px;
}
